In [146]:
"sales"

'sales'

In [147]:
import pandas as pd
import numpy as np

In [148]:
data = pd.read_csv(r"C:\Users\Vivek Chauhan\Desktop\New folder\sales_data_sample.csv", encoding='ISO-8859-1')

print(data.head())

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [149]:
data.shape

(2823, 25)

In [150]:
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [151]:
data['FullName'] = data['CONTACTFIRSTNAME'] + ' ' + data['CONTACTLASTNAME']
data = data.drop(columns=['CONTACTFIRSTNAME', 'CONTACTLASTNAME','YEAR_ID','MONTH_ID'])

In [152]:
data.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,PRODUCTLINE,MSRP,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,DEALSIZE,FullName
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,Motorcycles,95,...,2125557818,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,Motorcycles,95,...,26.47.1555,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,Motorcycles,95,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,Motorcycles,95,...,6265557265,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Medium,Julie Young
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,Motorcycles,95,...,6505551386,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Medium,Julie Brown

In [153]:
data["ORDERNUMBER"].drop_duplicates(inplace=True)

In [154]:
data.shape

(2823, 22)

In [155]:
pd.isnull(data).sum()

ORDERNUMBER           0
QUANTITYORDERED       0
PRICEEACH             0
ORDERLINENUMBER       0
SALES                 0
ORDERDATE             0
STATUS                0
QTR_ID                0
PRODUCTLINE           0
MSRP                  0
PRODUCTCODE           0
CUSTOMERNAME          0
PHONE                 0
ADDRESSLINE1          0
ADDRESSLINE2       2521
CITY                  0
STATE              1486
POSTALCODE           76
COUNTRY               0
TERRITORY          1074
DEALSIZE              0
FullName              0
dtype: int64

In [156]:
data['ADDRESSLINE2'] = data['ADDRESSLINE2'].fillna(0)
data['STATE'] = data['STATE'].fillna(0)
data['TERRITORY'] = data['TERRITORY'].fillna(0)
data['POSTALCODE'] = data['POSTALCODE'].fillna(0)

In [157]:
pd.isnull(data).sum()

ORDERNUMBER        0
QUANTITYORDERED    0
PRICEEACH          0
ORDERLINENUMBER    0
SALES              0
ORDERDATE          0
STATUS             0
QTR_ID             0
PRODUCTLINE        0
MSRP               0
PRODUCTCODE        0
CUSTOMERNAME       0
PHONE              0
ADDRESSLINE1       0
ADDRESSLINE2       0
CITY               0
STATE              0
POSTALCODE         0
COUNTRY            0
TERRITORY          0
DEALSIZE           0
FullName           0
dtype: int64

In [158]:
data.describe()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,QTR_ID,MSRP
count,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000,2823.000000
mean,10258.725115,35.092809,83.658544,6.466171,3553.889072,2.717676,100.715551
std,92.085478,9.741443,20.174277,4.225841,1841.865106,1.203878,40.187912
min,10100.000000,6.000000,26.880000,1.000000,482.130000,1.000000,33.000000
25%,10180.000000,27.000000,68.860000,3.000000,2203.430000,2.000000,68.000000
50%,10262.000000,35.000000,95.700000,6.000000,3184.800000,3.000000,99.000000
75%,10333.500000,43.000000,100.000000,9.000000,4508.000000,4.000000,124.000000
max,10425.000000,97.000000,100.000000,18.000000,14082.800000,4.000000,214.000000

In [159]:
data['ORDERDATE'] = pd.to_datetime(data['ORDERDATE'])
data["ORDERDATE"].head(10)

0   2003-02-24
1   2003-05-07
2   2003-07-01
3   2003-08-25
4   2003-10-10
5   2003-10-28
6   2003-11-11
7   2003-11-18
8   2003-12-01
9   2004-01-15
Name: ORDERDATE, dtype: datetime64[ns]

In [160]:
data.head(5)

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,PRODUCTLINE,MSRP,...,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,DEALSIZE,FullName
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,Motorcycles,95,...,2125557818,897 Long Airport Avenue,0,NYC,NY,10022,USA,0,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,Motorcycles,95,...,26.47.1555,59 rue de l'Abbaye,0,Reims,0,51100,France,EMEA,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,Motorcycles,95,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,0,Paris,0,75508,France,EMEA,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,Motorcycles,95,...,6265557265,78934 Hillside Dr.,0,Pasadena,CA,90003,USA,0,Medium,Julie Young
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,Motorcycles,95,...,6505551386,7734 Strong St.,0,San Francisco,CA,0,USA,0,Medium,Julie Brown

In [161]:
data.columns = data.columns.str.lower()
data.head()

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,productline,msrp,...,phone,addressline1,addressline2,city,state,postalcode,country,territory,dealsize,fullname
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,Motorcycles,95,...,2125557818,897 Long Airport Avenue,0,NYC,NY,10022,USA,0,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,Motorcycles,95,...,26.47.1555,59 rue de l'Abbaye,0,Reims,0,51100,France,EMEA,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,Motorcycles,95,...,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,0,Paris,0,75508,France,EMEA,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,Motorcycles,95,...,6265557265,78934 Hillside Dr.,0,Pasadena,CA,90003,USA,0,Medium,Julie Young
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,Motorcycles,95,...,6505551386,7734 Strong St.,0,San Francisco,CA,0,USA,0,Medium,Julie Brown

In [162]:
data.dtypes

ordernumber                 int64
quantityordered             int64
priceeach                 float64
orderlinenumber             int64
sales                     float64
orderdate          datetime64[ns]
status                     object
qtr_id                      int64
productline                object
msrp                        int64
productcode                object
customername               object
phone                      object
addressline1               object
addressline2               object
city                       object
state                      object
postalcode                 object
country                    object
territory                  object
dealsize                   object
fullname                   object
dtype: object

In [163]:
data['phone'] = data['phone'].astype(str).str.replace(r'\D', '', regex=True).astype('int64')
data['postalcode'] = data['postalcode'].astype(str).str.replace(r'\D', '', regex=True).astype('int64')

In [164]:
data.head(10)

,ordernumber,quantityordered,priceeach,orderlinenumber,sales,orderdate,status,qtr_id,productline,msrp,...,phone,addressline1,addressline2,city,state,postalcode,country,territory,dealsize,fullname
0,10107,30,95.70,2,2871.00,2003-02-24,Shipped,1,Motorcycles,95,...,2125557818,897 Long Airport Avenue,0,NYC,NY,10022,USA,0,Small,Kwai Yu
1,10121,34,81.35,5,2765.90,2003-05-07,Shipped,2,Motorcycles,95,...,26471555,59 rue de l'Abbaye,0,Reims,0,51100,France,EMEA,Small,Paul Henriot
2,10134,41,94.74,2,3884.34,2003-07-01,Shipped,3,Motorcycles,95,...,33146627555,27 rue du Colonel Pierre Avia,0,Paris,0,75508,France,EMEA,Medium,Daniel Da Cunha
3,10145,45,83.26,6,3746.70,2003-08-25,Shipped,3,Motorcycles,95,...,6265557265,78934 Hillside Dr.,0,Pasadena,CA,90003,USA,0,Medium,Julie Young
4,10159,49,100.00,14,5205.27,2003-10-10,Shipped,4,Motorcycles,95,...,6505551386,7734 Strong St.,0,San Francisco,CA,0,USA,0,Medium,Julie Brown
5,10168,36,96.66,1,3479.76,2003-10-28,Shipped,4,Motorcycles,95,...,6505556809,9408 Furth Circle,0,Burlingame,CA,94217,USA,0,Medium,Juri Hirano
6,10180,29,86.13,9,2497.77,2003-11-11,Shipped,4,Motorcycles,95,...,20161555,"184, chausse de Tournai",0,Lille,0,59000,France,EMEA,Small,Martine Rance
7,10188,48,100.00,1,5512.32,2003-11-18,Shipped,4,Motorcycles,95,...,4722673215,"Drammen 121, PR 744 Sentrum",0,Bergen,0,5804,Norway,EMEA,Medium,Veysel Oeztan
8,10201,22,98.57,2,2168.54,2003-12-01,Shipped,4,Motorcycles,95,...,6505555787,5557 North Pendale Street,0,San Francisco,CA,0,USA,0,Small,Julie Murphy
9,10211,41,100.00,14,4708.44,2004-01-15,Shipped,1,Motorcycles,95,...,147556555,"25, rue Lauriston",0,Paris,0,75016,France,EMEA,Medium,Dominique Perrier